header {
  justify-content: space-between;
  color: rgba(249, 210, 161, 0.944);
  display: flex;
}

header h2 {
  font-size: 2rem;
}

header .column {
  display: flex;
  align-items: center;
}

header .column span {
  font-weight: 600;
  margin-right: 10px;
  font-size: 1.5rem;
}